html,
body {
    width: 900px;
    margin: 0 auto;
    font-size: 21px;
    text-align: justify;
}
*{
    margin: 0;
    padding: 0
}

.shadow{
    box-shadow: #aca2a2 0px 0px 8px 4px;
}

.wrap {
    min-height: 100%;
}
.d-center{
    margin: 0 auto;
    padding: 10px 0;
    width: max-content;
}
.d-inline{
    display: inline-block;
}

/*#############################################
###               pop-up style              ###
#############################################*/

.message{
    position: sticky;
    float: right;
    margin-right: 50px;
    top: 50px;
    border-radius: 20px;
    background-color: #928d8d;
    z-index: 10;
}

.message .form .form-group{
    width: 250px;
    margin: 10px;
}

.form input{
    width: 115px;
    height:25px;
    border-radius: 10px;
    outline: none;
    padding-left: 5px
}
.message .form{
    display:none;
}
input#show-form:checked ~ .form {
    display: block;
}

.form button{
    background-color: #518e51;
    outline: none;
    height: 30px;
    width: 150px;
    font-size: 18px;
    border-radius: 25px;
    margin-left: 10px;
}

input#show-form:checked ~ .form {
    flex-direction: column;
    align-items: center;
}

label.show-form,
label.hide-form{
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 35px;
    margin: 5px;
}

label.hide-form{
    display: none;
    background-image: url(img/cancel.png);
    transform: rotateY(180deg);
}
label.show-form{
    background-image: url(img/email.png);
    float: left;
}
input#show-form:checked ~ div label.show-form{
    display: none;
}
input#show-form:checked ~ div label.hide-form{
    display: block;
    float: right;
}
.wrap{
    position: relative;
}

/*#############################################
###                 Head style              ###
#############################################*/

.head {
    height: 400px;
    padding: 20px 350px 20px 0px;
    position: relative;
    background: #d7e4fb;
}
.head .img,
.head .mini-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.main-photo{
    width: 400px;
    height: 380px;
    margin: auto;
}
.main-photo>.img{
    display: none;
    margin: auto;
    height: 350px;
    width: 350px;
}
.cameo-photo{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 100px;
    bottom: 0px;
    left: 150px;
}
.cameo-photo>.mini-img{
    width: 75px;
    height: 75px;
    opacity: 0;
    transition: .5s;
    z-index: 1;
    display: block;
    cursor: pointer;
}
.mini-img#mini-v1{
    float: left;
}
.mini-img#mini-v2{
    float: right;
}
.img#img-v1,
.mini-img#mini-v1{
    background-image: url(img/chair-v1.jpg);
}
.img#img-v2,
.mini-img#mini-v2{
    background-image: url(img/chair-v2.jpg);
}
.head:hover .mini-img{
    opacity: 1;
}
.mini-img:hover{
    width: 100px;
    height: 100px;
}
input#mini-img-v1:checked ~ .main-photo>#img-v1{
    display: block;
}
input#mini-img-v2:checked ~ .main-photo>#img-v2{
    display: block;
}

/*#############################################
###                aside style              ###
#############################################*/
.buy-control{
    position: absolute;
    top: -93px;
    right: 35px;
    width: 300px;
    z-index: 1;
}

.buy-control .title{
    background-color: #f1e778;
    box-sizing: border-box;
    padding: 10px;
}
.buy-control .title .buttons{
    margin: 10px 0;
}

.buy-control .title .button{
    background-color: white;
    padding: 6px;
    color: black;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    font-size: 18px;
}

.buy-control .count{
    height: 35px;
    background-color: #c1c1c1;
    box-sizing: border-box;
    padding: 5px;
}
.buy-control .description{
    background-color: white;
    min-height: 260px;
    padding-left: 5px;
}
.buy-control .description h3 {
    padding: 10px 0;
}
.buy-control .description h4{
    padding-left: 10px;
}

/*#############################################
###              Content style              ###
#############################################*/

.content{
    position: relative;
}
nav{
    height: 20px;
}
.nav{
    display: inline-block;
    cursor: pointer;
    padding: 10px 10px 0;
    height: 30px;
    border-radius: 20px 20px 0 0;
}
.tabs{
    position: relative;
}
.container .tab{
    margin: 10px 360px 10px 0;
}
.container{
    display:none;
}

label.description:hover,
.tabs>.container.description,
input#description:checked ~ div label.description{
    background-color:#e8e4e4;
}
label.delivery:hover,
.tabs>.container.delivery,
input#delivery:checked ~ div label.delivery{
    background-color: #c0c0c0;
}
label.about:hover,
.tabs>.container.about,
input#about:checked + div label.about{
    background-color:#e8aaaa;
}
input#description:checked ~ .tabs>.container.description {
    display: block;
}
input#delivery:checked ~ .tabs>.container.delivery {
    display: block;
}
input#about:checked ~ .tabs>.container.about {
    display: block;
}
.text-descr{
    color: rgb(88, 87, 87);
}
.des-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(img/crown.png);
}
.container section{
    margin: 20px 10px;
    margin-left: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}
section> .description{
    width: 200px;
    text-align: left;
    display: inline-block;
    margin: 0 18px;
}
section>p{
    padding: 10px 0;
}

/*#############################################
###              CARDS style              ###
#############################################*/

.cards{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    margin: 20px;
    perspective: 1000px;
}
.cards .card{
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 1s;
    padding: 10px;
}
.cards .v1{
    align-items: center;
    color: white;
}
.cards .v2{
    font-size: 18px;
    transform: rotateY(180deg);
}
.cards:hover .card.v1{
    transform: rotateY(180deg);
}
.cards:hover .card.v2{
    transform: rotateY(360deg);
}
.cards-v1{
    display: inline-block;
    position: relative;
    margin: 20px 15px;
    height: 180px;
    width: 255px;
}
.cards-v1 .card{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
}
.cards-v1 .v1 {
    z-index: 1;
}
.cards-v1 .v2 {
    z-index: 0;
}
.cards-v1:hover .v1{
    animation-name: out;
    animation-timing-function: linear;
    animation-duration: 1s;
}
@keyframes out {
    0% {
        transform: translate(-10px,-10px);
        z-index:2;
        }
    25% {
        transform: translate(-30px,-30px);
        z-index:2;
    }
    50% {
        transform: translate(-50px,-50px);
        z-index:2;
    }
    75% {
        transform: translate(-30px,-30px);
        z-index:1;
    }
    100%{
        transform: translate(-10px,-10px);
        z-index:1;
    }
}
.cards-v1:hover .v2{
    animation-name: on;
    animation-timing-function: linear;
    animation-duration: 1s;
    z-index:1;
}
@keyframes on {
    0% {
        transform: translate(10px,10px);
        z-index: 1;
        }
    25% {
        transform: translate(60px,60px);
        z-index: 1;
    }
    50% {
        transform: translate(90px,90px);
        z-index:3;
    }
    75% {
        transform: translate(60px,60px);
        z-index:3;
    }
    100%{
        transform: translate(10px,10px);
        z-index:3;
    }
}
.back{
    color:white;
    background-color: #5b6467;
}
.ring,.glove,.dove,.courier,.cart{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.ring {
    background-image: url(img/ring.png);
}
.glove {
    background-image: url(img/glove.png);
}
.dove{
    background-image: url(img/dove.jpg);
    background-position-y: -20px;
}
.courier{
    background-image: url(img/courier.png);
}
.cart{
    background-image: url(img/cart.jpg);
}

footer{
    background: #d7e4fb;
}